<div class="row">
    <div class="col-md-12">
        <h2>Enter Youtube Video URL</h2>
        <form asp-action="Index" method="get">
            <p>Youtube Url:</p>
            <input type="text"  name="url" />
            <input type="submit" value="GET" />
        </form>
    </div>
</div>